.container {
  max-width: 700px;
  margin: 0px auto;
}

.author {
  border: 1px solid gray;
  margin: 10px 0px;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

form input {
  margin: 4px 0px;
}

nav {
  margin: 10px 0px;
  border-bottom: 1px solid gray;
}

a {
  color: blue;
  text-decoration: none;
}
